Bonjour M. {{entity.name}}</br>
Adresse Email : {{entity.username}}</br>
<p>
Vous devez recopier le code d'activation afin de vous 
authentifier dans l'application school-management.
</p>
Le code d'activation est : {{code}}