Bonjour M/Mme. {{entity.name}}</br>
Adresse Email: {{entity.username}}</br>
<p>
	Vous avez changer votre de mot de passe dans
	l'application store-management le 
	{{ entity.passwordRequestedAt|date('d/m/Y') }}
</p>
