{% extends "SdzUserBundle::security.html.twig" %}

{% block body1 %}
<div class="row">
    <div class="col-md-5">
        <h1>Mot de passe oublié</h1>
        {% form_theme email_form 'form_table_layout.html.twig' %}
        <div>
            Entrer Votre addresse Email</br>
            Vous allez recevoir un mail de confirmation</br>
        </div>
        {% for message in app.session.flashbag.get('Test') %} 
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
            &times;
            </button>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        <div>
             {{ form(email_form) }}
        
            {% if 0 %}{# controle de l'entité pour afficher le reste du code#}
                {% form_theme check_form 'form_table_layout.html.twig' %}
                {{ form(check_form) }}
            {% endif %}
        </div>   
    </div>
</div>
    

{% endblock %}
