{% extends "SdzUserBundle::security.html.twig" %}
{% block title %}Change Password{% endblock %}
{% block body1 %}
	<div class="row">
		<div class="col-12 col-md-4">
			
	    <h1>Change Password</h1>
	    Bonjour M. {{entity.name}}</br>
	    Adresse Email: {{entity.username}}</br>
	    <i>* Le mot de passe doit avoir 8 caractères minimum
	       des majuscules, des minuscules et des chiffres <br>
	       Aucuns caratères spéciaux*.
	    </i>
	    {% for message in app.session.flashbag.get('Test') %} 
	        <p>{{ message }}</p>
	    {% endfor %}
	    {% form_theme edit_form 'form_table_layout.html.twig' %}
	    {{ form(edit_form) }}
		</div>
	</div>

{% endblock %}
